.post-show {
  margin-top: 20px;
}

.comment {
  display: flex;
  flex-direction: column;
  background-color: $color-card-background;
  border-bottom: 1px solid $color-link;
  padding: 10px 20px;

  p {
    margin-bottom: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //margin-bottom: 10px;
  }

  &__author {
    font-weight: bold;
    color: $color-link;
    margin: 0;
  }

  &__number {
    margin: 0;
    margin-right: 5px;
    font-size: 16px !important;
  }

  &__meta {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 0;
  }

  &__content {
    color: $color-text;
  }

  &__actions {
    display: flex;
    gap: 10px;

    .btn {
      font-size: 0.9em;
      padding: 5px 10px;
    }
  }

  &__poster_name_choice {
    margin-bottom: 15px;
  }

  .edited-indicator {
    font-size: 0.9em;
    color: #888;
    margin-left: 10px;
  }
}

.comments-section {
  &__title {
    font-size: 1.5em;
    color: $color-link;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-link; // 下線を追加
  }
}

form.comment-form {
  width: 100%;
  margin: 20px 0;
  background-color: $color-card-background;
  //border: 1px solid $color-link;
  border-radius: 8px;
  padding: 20px;

  .field {
    width: 100%;
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: $color-text;
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: 2px solid $color-link;
      border-radius: 4px;
      background-color: $color-input-background;
      color: $color-input-text;
      resize: vertical;
    }
  }

  .actions {
    text-align: center;

    .btn-primary, .btn-secondary {
      display: inline-block;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    .btn-primary {
      background-color: $color-button;
      color: $color-button-text;
      border: none;

      &:hover {
        background-color: $color-active;
      }
    }

    .btn-secondary {
      background-color: transparent;
      color: $color-link;
      border: 1px solid $color-link;
      margin-left: 10px;

      &:hover {
        background-color: rgba($color-link, 0.1);
      }
    }
  }
}
