<div class="about-us">
  <h1>About Us</h1>

  <h2>設立理由</h2>
  <ol>この掲示板は、みんなが安心して意見や情報を交換できる場所を作るために始めました。</ol>
  <ol>会社の掲示板だと、匿名で意見を言えなかったり、言いたいことが言いにくいことが多いですよね。</ol>
  <ol>そんな問題を解決して、気軽に話せる場を提供したいと思って、このコミュニティを立ち上げました。</ol>

  <h2>私たちの想い</h2>
  <ol>私たちは、この掲示板を通じて、みんなが支え合って成長できる場所を作りたいと考えています。</ol>
  <ol>人は安心した環境でこそ、最大限のパフォーマンスを発揮できるものです。</ol>
  <ol>だからこそ、このコミュニティを心の拠り所として活用し、みんながビジネスマンとしてのスキルを存分に発揮してほしいと願っています。</ol>
  <ol>誰もが自由に意見を言い合い、みんなが尊重されることで、良いアイデアや新しい考えが生まれることを期待しています。</ol>
  <ol>安心して話せる環境があると、個人としても、チームとしてもより良くなれると思っています。</ol>

  <h2>望ましい書き込み</h2>
  <ol>
    <ol>
      <li>前向きで建設的な意見や情報の共有</li>
      <li>他の人が役立つと思えるアイデアや質問の投稿</li>
      <li>問題解決に向けたアドバイスや提案の提供</li>
      <li>互いに尊重し合い、協力して成長できるような姿勢</li>
    </ol>
  </ol>
  <ol>
    批判や否定的な言葉ではなく、誰もが安心して意見を言えるような雰囲気を大切にし、みんなで尊重し合いながら使っていきましょう！
  </ol>
</div>
