.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  span {
    margin: 0 2px;
  }
  a, .current {
    display: inline-block;
    padding: 12px 18px;
    background-color: $color-card-background;
    color: $color-link;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
    &:hover {
      background-color: $color-header-background;
      color: $color-card-background;
    }
  }
  .current {
    background-color: $color-header-background;
    color: $color-card-background;
    font-weight: bold;
    transform: scale(1.15);
  }
  .first, .prev, .next, .last {
    a {
      font-weight: bold;
      color: $color-title;
      padding: 12px 12px;
      &:hover {
        color: $color-card-background;
      }
    }
  }
  @media screen and (max-width: 767px) {
    margin: 10px 0;
    a, .current, .first a, .prev a, .next a, .last a {
      padding: 6px 6px;
    }
  }
}
